body{
    margin: 0%;
}
h1{
    margin: 20px 0;
}
.container{
    background-color: white;
    height: 100vh;
}
.header{
    padding: 20px;
    display: flex;
    background-color: black;
    color: white
}
.content{
    display: grid;
    grid-template-columns: 200px auto 200px;
}

.elem{
    border: solid grey 1px;
    border-radius: 20px;
    background-color: lightgray;
    box-shadow: 2px 2px lavender;
    margin: 10px;
}
/* Settings */
.settings{
    height: 250px;
}
.setting{
    margin: 5px;
}
.setting-top{
    display: flex;
    justify-content: space-between;
}
.setting-value{
    color: red;
    margin-right: 10px;
}
.settings button{
    margin-left: 20px;
}
/*game*/
.game{
    height: calc(100vh - 117px - 20px - 2px);
    display: flex;
    justify-content: center;
}
.field{
    background-color: black;
    margin: 20px 0px 20px 20px;
    border: none white 3px;
    
}
/* Scores */
.scores{
    height: 250px;
}